<div class="py-5 bg-primary container-fluid">
    <div class="py-5 container">
        <div class="d-flex flex-column flex-md-row align-items-center">
            <img style="height: 90px;" src="https://cdn-images-1.medium.com/max/97/1*nbJ41jD1-r2Oe6FsLjKaOg@2x.png">
            <div class="ml-md-2 d-flex flex-column text-center text-md-left">
                <h3 class="font-weight-bold">
                    Angular Blog
                </h3>
                <h5>
                    Inspired from blog.angular.io
                </h5>
            </div>
        </div>
    </div>
</div>
<app-blogs></app-blogs>